<h1>Our cocktails include the craziest ingredients ...</h1>
<p><%= link_to "(go to cocktail list)", cocktails_path, {class: "btn btn-primary"} %></p>

<% @ingredients.each do |ingredient| %>
  <h2><%= ingredient.name.capitalize %></h2>
  <h4>Find it in ...</h4>

  <p><% ingredient.cocktails.each_with_index do |cocktail, i| %>
    <% if i == ingredient.cocktails.length - 1 %>
      <%= cocktail.name.capitalize %>...
    <% elsif i == 0 %>
      <%= cocktail.name.capitalize %>,
    <% else %>
      <%= cocktail.name.capitalize %>,
    <% end %>
  <% end %></p>

  <%= link_to "View", ingredient_path(ingredient) %>
  <%= link_to "Delete?", ingredient_path(ingredient),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

<% end %>